/* ---- Conteudo da pagina ---- */

/* Titulos */

.primaryTitle {
    /* margin-top: 10px; */
    color: black;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.secundaryTitle {
    font-size: 35px;
    border-bottom: 2px solid #561F15;
    color: black;
    text-align: center;
    padding: 5px;
}

/* Anuncio */

.mainCard {
    background-color: #D9D9D9;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    /* gap: 460px; */
}

.mainCardTitle {
    font-size: 35px;
    border-bottom: 2px solid #561F15;
    color: black;
    text-align: start;
    padding: 5px;
}

.mainCardBotao {
    background-color: lightgray;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
}

.mainCardBotao:hover {
    background-color: white;
}

.mainCardBotao img {
    width: 20px;
    height: 20px;
}

/* Cards */

.cards {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cardsMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    /* background-color: black; */
    width: auto;
}

.cardsMenuItem {
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 190px;
    height: 350px;
    border-radius: 10px;
    padding: 15px;
    transition: 0.3s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardsMenuItem:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.cardsMenuItemContent1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardsMenuItemContent1Img {
    background-color: white;
    height: 200px;
    border-bottom: 1px solid lightgray;
}

.cardsMenuItemContent1Img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cardsMenuItemContentName {
    color: black;
    font-size: 20px;
}

.cardsMenuItemContent2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardsMenuItemContent2Price {
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.cardsMenuItemContentButtom {
    background-color: #1CD437;
    border-radius: 6px;
    width: auto;
    height: 35px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cardsMenuItemContentButtom p {
    font-size: 13px;
    font-weight: 600;
}

.cardsMenuItemContentButtomIcon {
    width: 22px;
    height: 22px;
}